[user]
	name = Will Marquardt
	email = wmarquardt@gmail.com
[core]
  editor = code -w
  excludesfile = ~/dotfiles/.gitignore_global
  mergeoptions = --no-edit
[pull]
  # rebase = true
[push]
  default = current
[help]
  # autocorrect = 1
[filter "lfs"]
  smudge = git-lfs smudge %f
  required = true
  clean = git-lfs clean %f

[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
  amend = commit --amend --no-edit
  mn = merge --no-edit
  pn = pull --no-edit
  cn = commit --no-edit
  pm = pull origin master --no-edit
  dm = diff origin/master
[branch]
	# autoSetupMerge = always
[rerere]
	enabled = true
