"*":
  core:
    disabledPackages: [
      "linter-rubocop"
    ]
    telemetryConsent: "limited"
  editor:
    showInvisibles: true
    tabType: "soft"
  "exception-reporting":
    userId: "d26155d0-ddaf-47b4-801e-f1dc70922aaf"
  "linter-ui-default":
    panelHeight: 69
  "prettier-atom":
    formatOnSaveOptions: {}
    prettierOptions:
      jsxBracketSameLine: true
      singleQuote: true
    useEslint: true
  tabs:
    addNewTabsAtEnd: true
    alwaysShowTabBar: false
    enableMruTabSwitching: false
  welcome:
    showOnStartup: false
