packages: [
  "atom-ide-ui"
  "autocomplete-html-entities"
  "blame"
  "busy-signal"
  "copy-with-syntax"
  "flow-ide"
  "goto-definition"
  "highlight-selected"
  "hyperclick"
  "ide-flowtype"
  "indent-guide-improved"
  "intentions"
  "language-babel"
  "last-cursor-position"
  "linter"
  "linter-eslint"
  "linter-flow"
  "linter-rubocop"
  "linter-ui-default"
  "package-sync"
  "prettier-atom"
  "sublime-block-comment"
  "todo-show"
]
