packages: [
  "atom-beautify"
  "atom-eco"
  "blame"
  "busy-signal"
  "copy-with-syntax"
  "goto-definition"
  "highlight-selected"
  "indent-guide-improved"
  "intentions"
  "language-babel"
  "last-cursor-position"
  "linter"
  "linter-eslint"
  "linter-rubocop"
  "linter-ui-default"
  "package-sync"
  "prettier-atom"
  "sublime-block-comment"
  "todo-show"
]
